.dropFiles {
  color: rgb(212, 90, 212);
  text-align: center;
  font-size: 25px;
  height: max-content;
  margin-top: 25px;
  padding: 100px;
  border: dotted rgb(228, 225, 225) 3px;
}
.dropFiles:hover {
  color: rgb(219, 124, 219);
  font-weight: 100;
  cursor: pointer;
  border: solid rgb(228, 225, 225) 1px;
}

.dropFiles:-moz-drag-over {
  color: rgb(219, 124, 219);
  font-weight: 100;
  cursor: pointer;
  border: solid black 5px;
}

.progress-bar {
  margin-top: 10px;
  padding: 10px;
}
